@media screen and (max-width: 576px) {
  header{
 width: 95%;
 height: 90%;
 margin: 0 10px;
}
nav ul li{
  padding: 0;
}
.logo img{
  width: 28px;
  height: 33.52px;
  margin-right: 10px;
  margin-left: 10px;
}
.logo_title {
font-size: 22px;
padding-top: 3px;
}
nav ul li a{
display: none;
}
.fa-solid{
  margin-right: 10px;
  display: block;
}

/* banner arae */
.banner_area{
  width: 535px;
  height: 470px;
  border-radius: 16px;
  position: relative;
  margin: 0 auto;
}
.banner_container{
  width: 90%;
  height: 99px;
  margin: 10px;
}
.banner_container h1{
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 20px;
}
.banner_container p{
  font-size: 16px;
  line-height: 21px;
 margin-right: 20px;
}
.input_container{
  width: 92%;
  height: 284px;
  flex-direction: column;
  display: block;
  margin: 32px auto;
  margin-left: 25px;
  
}
 input, select, option, .btn{
  width: 374px;
  height: 52px;
  margin: 10px;
  padding-left: 10px;
}
.btn {
font-weight: 600;
display: flex;
justify-content: center;
margin-left: 40px;
padding-top: 15px;
}
.fa-solid{
  font-size: 18px;
  padding: 4px;
}

/* populer-section  */
.Popular_section{
  width: 92%;
  height: 100%;
  margin: 24px;
  flex-direction: column;
}
.populer_container{
  width: 100%;
}
.populer_img img{
  width: 100%;
}

/* Destination_section-area */
.destination_section_area{
  width: 94%;
  height: 100%;
}
.destination_container{
  width: 70%;
  margin-left: 70px;
}
.destination_container h2{
  font-size: 30px;
font-weight: 800;
}
.destination_container p{
  font-size: 14px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.destination_img_container, .destination_img_container_2, .destination_img_container_3{
  gap: 16px;
 flex-direction: column;
}
.img_1 img, .img_2 img{
  width: 94%;
}
.img_3, .img_4, .img_5, .img_6, .img_7{
  width: 100%;
  height: 100%;
  position: relative;
}
.img_3 img, .img_4 img, .img_5 img, .img_6 img, .img_7 img{
 width: 100%;
}
.subtitle_name_1, .subtitle_name_2{
  position: absolute;
  top: 110px;
  right: 276px;
  bottom: 130px;
  left: 220px;
  font-weight: 800;
  font-size: 28px;
}
.subtitle_name_3{
  color: #ffffff;
  position: absolute;
  top: 190px;
  right: 100px;
  bottom: 105px;
  left: 210px;
  font-weight: 800;
  font-size: 28px;
}
.subtitle_name_4{
 color: #ffffff;
  position: absolute;
  top: 155px;
  bottom: 126px;
  right: 137px;
  left: 177px;
  font-weight: 800;
  font-size: 28px; 
}
.subtitle_name_5{
  color: #ffffff;
  position: absolute;
  top: 250px;
  bottom: 126px;
  right: 80px;
  left: 200px;
  font-weight: 800;
  font-size: 28px; 
}
.subtitle_name_6{
  color: #ffffff;
  position: absolute;
  top: 162px;
  bottom: 133px;
  right: 156px;
  left: 180px;
  font-weight: 800;
  font-size: 28px; 
}
.subtitle_name_7{
  color: #ffffff;
  position: absolute;
  top: 100px;
  bottom: 133px;
  right: 259px;
  left: 180px;
  font-weight: 800;
  font-size: 28px; }
/* Choose us section style */
.Choose_us_section{
  width: 94%;
  height: 100%;
  margin: 24px auto ;
}
.choose_us_container{
  width: 70%;
  margin-left: 70px;
}
.choose_us_container h2{
  font-size: 30px;
  margin-bottom: 20px;
}
.choose_us_container p{
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px;
}
.card_container{
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.Hotel_card{
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
}
.servise_card{
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
}
.price_card{
  width: 100%;
  height: 100%;
  margin: 0;
}
}